

h1{
   
    text-align: left 14px;
    font-weight: lighter;
    text-transform: uppercase;
    border: 1px solid black ;
    display: inline-block;
}
h2{
     font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
}
header p{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
h4{
    font-weight: bold;
    font-size: 16px;
    
}

main{
    font-size: 14px;
    margin: 0 auto;
    max-width: 750px;
    column-count: 3;
}