@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

h1{
    font-family: 'Roboto+Condensed:ital';
    text-align: left;
    font-weight: lighter;
    text-transform: uppercase;
    border: 4px;
}
h2{
    font-weight: bold;
    text-align: center;
    font-size: 48px;
}
header p{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}